# Projeto 2 - Ciencia dos Dados

**Nomes: Gabriel Miras e Mariana Abrantes**

## Imports

In [43]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
import seaborn as sns
import itertools
from scipy import stats
import matplotlib.pyplot as plt

## Lendo as tabelas

In [44]:
at = pd.read_excel('tweets_Nike.xlsx')
at.head()

                                         Treinamento ClassificaÃ§Ã£o
0  rt @thefootballgirl: nike is a business. they ...   irrelevante
1  rt @lospaige: nike want all the smoke. they wi...   irrelevante
2  rt @yxungjaziah: â€œ nike just lost a customer â€œ...     relevante
3  rt @umcornell: nike: *makes colin kaepernick t...   irrelevante
4  @ghostofscottlaw what an incredibly stupid dec...   irrelevante

In [45]:
r = at[at.ClassificaÃ§Ã£o == 'relevante']
r.head()

                                          Treinamento ClassificaÃ§Ã£o
2   rt @yxungjaziah: â€œ nike just lost a customer â€œ...     relevante
7   rt @fctnovrrlty: nike (and the rest of us) @ e...     relevante
9   rt @sekusa1: ðŸ”¥@nike ðŸ‘‰i and millions of others ...     relevante
13  rt @katlinbellaw: stop using the troops as an ...     relevante
27  rt @rafaelshimunov: i'm finally cutting out th...     relevante

In [46]:
ir = at[at.ClassificaÃ§Ã£o == 'irrelevante']
ir.head()

                                         Treinamento ClassificaÃ§Ã£o
0  rt @thefootballgirl: nike is a business. they ...   irrelevante
1  rt @lospaige: nike want all the smoke. they wi...   irrelevante
3  rt @umcornell: nike: *makes colin kaepernick t...   irrelevante
4  @ghostofscottlaw what an incredibly stupid dec...   irrelevante
5  rt @stefanmolyneux: it would be fascinating to...   irrelevante

In [47]:
#costumer palavra escolhida

In [55]:
at.Treinamento = at.Treinamento.str.replace(':', ' ', regex=False)

at.head()

                                         Treinamento ClassificaÃ§Ã£o
0  rt @thefootballgirl  nike is a business. they ...   irrelevante
1  rt @lospaige  nike want all the smoke. they wi...   irrelevante
2  rt @yxungjaziah  â€œ nike just lost a customer â€œ...     relevante
3  rt @umcornell  nike  *makes colin kaepernick t...   irrelevante
4  @ghostofscottlaw what an incredibly stupid dec...   irrelevante

In [56]:
at.Treinamento = at.Treinamento.str.replace('@', ' ', regex=False)
at.head()

                                         Treinamento ClassificaÃ§Ã£o
0  rt  thefootballgirl  nike is a business. they ...   irrelevante
1  rt  lospaige  nike want all the smoke. they wi...   irrelevante
2  rt  yxungjaziah  â€œ nike just lost a customer â€œ...     relevante
3  rt  umcornell  nike  *makes colin kaepernick t...   irrelevante
4   ghostofscottlaw what an incredibly stupid dec...   irrelevante

In [57]:
at.Treinamento = at.Treinamento.str.replace('*', ' ', regex=False)
at.head()

                                         Treinamento ClassificaÃ§Ã£o
0  rt  thefootballgirl  nike is a business. they ...   irrelevante
1  rt  lospaige  nike want all the smoke. they wi...   irrelevante
2  rt  yxungjaziah  â€œ nike just lost a customer â€œ...     relevante
3  rt  umcornell  nike   makes colin kaepernick t...   irrelevante
4   ghostofscottlaw what an incredibly stupid dec...   irrelevante

In [61]:
at.Treinamento = at.Treinamento.str.replace('â€œ', '', regex=False)
at.head()

                                         Treinamento ClassificaÃ§Ã£o
0  rt  thefootballgirl  nike is a business. they ...   irrelevante
1  rt  lospaige  nike want all the smoke. they wi...   irrelevante
2  rt  yxungjaziah  nike just lost a customer htt...     relevante
3  rt  umcornell  nike   makes colin kaepernick t...   irrelevante
4   ghostofscottlaw what an incredibly stupid dec...   irrelevante

In [63]:
at.Treinamento = at.Treinamento.str.replace('.', '', regex=False)
at.head()

                                         Treinamento ClassificaÃ§Ã£o
0  rt  thefootballgirl  nike is a business they l...   irrelevante
1  rt  lospaige  nike want all the smoke they wil...   irrelevante
2  rt  yxungjaziah  nike just lost a customer htt...     relevante
3  rt  umcornell  nike   makes colin kaepernick t...   irrelevante
4   ghostofscottlaw what an incredibly stupid dec...   irrelevante